

.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    border-radius: 10px;
    width: 25rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}


.bg{
    -webkit-clip-path: polygon(100% 0, 100% -82%, 45% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% -82%, 45% 100%, 0 100%, 0 0);
  background: #4545F3;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  }