<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation2.ejs') %>
        <div class="bg"></div>
        <main class="pt-5 text-center">
          <h1 class="text-light mt-5">You can't add your product into Cart.</h1>
        </main>
        <%- include('../includes/end.ejs') %>